
.mainhead{
    background-color: lightskyblue;
    font-size: 30px;
    text-align: center;

}

.mainfont
{

    font-family: Arial, Helvetica, sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-style: normal;
     align-content: flex-start;   
     
  

  &__title{
      background-color: lightskyblue;
      font-size: 30px;
      text-align: center;
      
  }



  &__animationheader{  

    width: 20%;
    height: 20%;
    display: flex;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /*transform-origin:center ;*/
    transition: 15s ease-in-out;
    animation-direction: normal;
}
@keyframes example {
    0%   {background: wheat;
         }
    50%  {transform: translate(500px,0);
         }
    75% {transform: translate(500px,0);
  }
}

  &__img{
    background-color: lightseagreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    }



  &__detail{
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      position: relative;
      text-align: center;

     }

    }

      .animationheader{  

        width: 20%;
        height: 20%;
        display: flex;
        position: relative;
        animation-name: example;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        transform-origin: center;
        transition: 15s ease-in;
    }
    @keyframes example {
        0%   {background: wheat;
             }
        50%  {transform: translate(500px,0);
             }
        75% {transform: translate(500px,0);
      }
    }
    
    .list{
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
}


.gadgets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: lightyellow;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;

&__list{
    border: 1px solid black;
    flex-direction: column;
    font-size: 15px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
     }

&__button{
    background-color: lightsteelblue;
    transition: 0.5s linear;
    padding: 5px 5px;
    text-align: center;
    cursor: pointer;
    width:30%;
    margin-left:25%;
    margin-right:25%;
    display: inline-block;
    font-weight: bold;

    
      }

      &__button:hover{
    
         background :chocolate;
      }

}

.technews{

    display: flex;
    flex-direction: row;
    align-items:left;
    justify-content: space-between;
    background-color: lightyellow;
    width: 100%;
    
&__technewsflex{

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align:start;
    width: 70%;
    border: 1px solid black;
    align-content: flex-start;
}
}
.techlinks
    {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color:lightyellow;
    width: 30%;
    align-content: flex-start;
    }

 .footer{

      display :flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: lightsteelblue;


    &__footerflex {

        justify-content: flex-start;

       }

       &__footerbutton{
        background-color: lightpink;
        transition: 0.5s linear;
        padding: 5px 5px;
        text-align: center;
        cursor: pointer;
        width:50%;
        margin-left:25%;
        margin-right:25%;
        display: inline-block;
        font-weight: bold;
    
          }
    
          &__footerbutton:hover{
        
             background :chocolate;
          }
  


       }

     